@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=Source+Code+Pro:ital,wght@0,300;0,400;1,300&display=swap');


body {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 10%;
}

.colors_container div,
.fonts_container div {
    display: inline-block;

}

.colors_container div {
    width: 32%;
    height: 100px;
    margin: 2% 0;
    text-align: center;
}

.fonts_container div {
    margin-right: 30px;
}




/* All Container Styles Begin */


.colors_container,
.fonts_container,
.textstyles_container {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0;
}

.colors_container p {
    color: white;
}

.textstyles_container h1 {
    Font-weight: 700;
    Font-size: 26px;
}

.textstyles_container h2.subheading {
    Font-weight: 500;
    Font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.textstyles_container p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* All Container Styles End */

/* Fonts P Styles Begin */
.sourcecode_container {
    font-family: 'Source Code Pro', monospace;
}


.poppins_container {
    font-family: 'Poppins', sans-serif;
}

.sourcecode_bold,
.nunito_bold,
.poppins_bold {
    font-weight: bold;
}

.sourcecode_italic,
.nunito_italic,
.poppins_italic {
    font-weight: 300;
    font-style: italic;
}


/*Fonts P Styles End */

h2 {
    color: black;
}

h3 {
    text-decoration: underline;
}

#lightblue {
    background-color: #00d4ff;
}

#tangerine {
    background-color: #ff8400;
}

#jungle {
    background-color: #225328;
}

#tropiclime {
    background-color: #afbb31;
}

/* Colors Section Styles End */